* {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
}
body {
    margin: 60px auto;
    width: 70%;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    color: #000000
    background-color: #FFFFFF;
    border: 1px solid #D7263D;
    border-color: #000000;
    font-size: 3em;
    font-family:'Big Caslon';
}
h2 { 
    color: #000000;
    font-size; 2em;
    font-family; 'Goudy Old style';
ul {
    font-size: 1em;
    font-family: 'Baskerville';
}
h3 {
    font-size: 2em;
    font-family: 'Goudy Old style';
 }
h4 {
    font-size; 2em;
    font-family: 'Goudy Old style';
}
h5 {   
    font-size: 2em;
    font-family: 'Goudy Old style';
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 100%;
}



