h1 {
    font-size: 100px;
    font-family:'Big Caslon';
    background-color: #FFFFFF;
    border-style: double;
    border-width: 7px;
    border-color: #000000;
    text-align: center;
}

h2 { 
    color: #000000;
    font-size; 14px;
    font-family; 'Goudy Old style';
    text-align: center;
}
        
ul {
    font-size: 30px;
    font-family: 'Baskerville'
    text-align: center;
}
    
h3 {
    font-size: 50px;
    font-family: 'Goudy Old style';
    border-color: #000000;
    border-style: double;
    text-align: center;
 }
    
h4 {
    font-size: 50px;
    font-family: 'Goudy Old style';
    border-color: #000000;
    border-style: double;
    text-align: center;
}
    
h5 {   
    font-size: 50px;
    font-family: 'Goudy Old style';
    border-color: #000000;
    border-style: double;
    text-align: center;
}







