body {
    margin: 60px auto;
    width: 70%;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    color: #000000
    background-color: #FFFFFF;
    border-width: 
    border-color: #000000;
    font-size: 3em;
    font-family:'Big Caslon';
    margin: 0;
    padding-top: 120px;
}
h2 { 
    color: #000000;
    font-size; 2em;
    font-family; 'Goudy Old style';
ul {
    font-size: 1em;
    font-family: 'Baskerville';
}
h3 {
    font-size: 2em;
    font-family: 'Goudy Old style';
 }
h4 {
    font-size; 2em;
    font-family: 'Goudy Old style';
}
h5 {   
    font-size: 2em;
    font-family: 'Goudy Old style';
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}


